<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PICKnROLL</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script defer src="js/uservotes.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header id="navbar" class="">
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand">
            <img id="navlogo" src="images/picknroll-light.png" alt="picknroll logo">
          </a>
          <button class="btn btn-outline-success login" type="button" data-toggle="modal" data-target="#newCourtModal" style="margin-left:600px;">New Court</button>
          <a href="/logout"><button class="btn btn-outline-success login" type="button" data-toggle="modal" data-target="#">Logout</button></a>
        </div>
      </nav>
  </header>

  <main>
    <form action="/courts" method="get" class="form-inline flex flex-center" style="margin-top:120px;">
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputname" class="sr-only">City Name</label>
        <input name="city" type="text" class="form-control" placeholder="City Name" style="width: 300px;">
      </div>
      <button type="submit" class="btn btn-primary mb-2 main-btn">Find Courts</button>
    </form>

    <div class="container mt-5">
      <div class="flex flex-between flex-wrap">

        <% courtdata.forEach(court => { %>
        <div class="card col-lg-4 text-center court-card">
          <div class="card-header">
            <%= court.court_city %>
          </div>
          <div class="card-body">
            <h5 class="card-title court-font"><%= court.court_name %></h5>

              <a href="/courts/<%= court.id %>" class="btn btn-outline-primary main-btn-outline">See Court</a>
          </div>
          <div class="card-footer text-muted flex">
            <div name="votes" class="" style="align-self: flex-start; margin-top: 3px; margin-right: 125px;">
              Votes: <%= court.votes %>
            </div>
              <div style="align-self: flex-end;">
                <!-- <i class=" favorite fab fa-gratipay fa-2x grey"></i> -->
                <form action="/courts/vote/<%= court.id %>" method="post">
                  <button type="submit" class=" vote fas fa-arrow-alt-circle-up fa-2x grey" style="outline:none; border:none; background-color:#F8F8F8;"></button>
                </form>
              </div>
          </div>
        </div>
        <% }) %>

      </div>

    </div>

  </main>



</body>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ NEW COURT MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div id="newCourtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newCourtModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Share New Court</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="flex" style="display:flex; flex-direction: column; justify-content:center; max-width: 60%; margin:0px auto;">
          <form action="/courts/create" method="post">
            <div class="form-group">
              <input type="text" name="courtname" class="form-control" placeholder="Court Name" style="margin-top:0px;">
              <input type="text" name="courtaddress" class="form-control" placeholder="Address" style="margin-top:10px;">
              <input type="text" name="courtcity" class="form-control" placeholder="City" style="margin-top:10px;">
              <select id="inputState" name="courtstate" class="form-control" style="margin-top:10px;">
                <option selected>State</option>
                <option>AZ</option>
                <option>CA</option>
                <option>NY</option>
                <option>NJ</option>
              </select>
              <input type="text" name="zip" class="form-control" placeholder="Zip Code" style="margin-top:10px;">
              <select id="inputRims" name="rims" class="form-control" style="margin-top:10px;">
                <option selected>Rim Count</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
              </select>
              <div class="form-check" style="margin-top:10px;">
                <input class="form-check-input" type="radio" name="courttype" value="outdoor" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Outdoor
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="courttype" value="indoor">
                <label class="form-check-label" for="exampleRadios2">
                  Indoor
                </label>
              </div>

            <button type="submit" class="btn btn-primary login-btn text-center" style="display:flex; flex-direction: column; justify-content:center; max-width: 50%; margin:20px auto;">Share Court</button>
          </form>
        </div>

    </div>
  </div>
</div>




</html>
